{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="text-center form-signin mt-4">
  <h3>{% trans "Sign Up" %}</h3>
  <p>{% blocktrans %}Already have an account?<br>Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn btn-lg btn-outline-light btn-block" type="submit">{% trans "Sign Up" %}
      &raquo;</button>
  </form>
</div>

{% endblock %}