body {
    background-color: #F9FAFC;
    color: #dfdfdf;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #dfdfdf;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #dfdfdf;
}

.dark-bg {
    background-color: #292929;
}

.main-bg {
    background-color: #333;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ffdd00;
}

.author {
    color: #445261;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(20deg);
    z-index: 100;
}

.post-link, hr {
    text-decoration: none;
    color: #dfdfdf;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.ms-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

div#map {
    min-height: 360px;
    border-radius: 5px;
}

.home_claim {
    margin-left: auto;
    margin-right: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-review {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list-review {
    width: 100%;
    max-width: 80%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

input, label {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* removes the annoying * from the comment field
in the review page when a User is logged in*/
.asteriskField {
    display: none;
}

/* override standard bootstrap column alignment*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .pagination {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  .user-logged {
    text-align: right;
    color: rgba(255,255,255,.55);
  }

  .user-logged > p {
    margin-top: 50px;
  }

  




  



