{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="d-flex p-3 mx-auto flex-column container-fluid mb-4">
    <div class="home_claim text-center p-3 mt-4 col-md-6">
        <img src="{% static 'images/bidepp_logo_square.webp' %}" alt="bidepp logo square" width="80" height="80">
        <h1 class="cover-heading brand">Bidepp</h1>
        <div class="round-container">
            <p class="lead">We are Italians and when we talk toilets, well, we are spoiled! Traveling around the world
                for an Italian can be difficult just because outside our country it's barely impossible to find a bidet.
                If you don't know what it is you probably landed in the wrong place. Viceversa have a look at our blog
                featuring the best places featuring this device to leisure your travel!</p>
        </div>
        <p class="lead">
            <a href="{% url 'blog' %}" class="btn btn-lg btn-outline-light btn-block">Blog</a>
        </p>

    </div>
</div>


<div class="row mt-4 dark-bg">
    <div class="col-12 mt-3 left">
        <div class="row brand">
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Last Hotels added</h4>
                </div>
            </div>
        </div>
        <div class="row">
            {% for hotel in hotel_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <hr/>
                        <a href="{% url 'hotel_detail' hotel.id %}" class="post-link">
                            <div class="image-container">
                                {% if "placeholder" in hotel.hotel_image.url %}
                                <img class="card-img-top"
                                    src="{% static 'images/PlaceholderBidepp.webp' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ hotel.hotel_image.url }}" alt="image for {{ hotel.name }}">
                                {% endif %}
                            </div>
                            <p class="card-text">Country: {{ hotel.country }}</p>
                            <h2 class="card-title">{{ hotel.name }}</h2>
                            <p class="card-text">{{ hotel.address }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center dark-bg">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"
                class="btn btn-outline-light btn-block">&laquo;</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-light btn-block">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{%endblock%}