{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_superuser %}
<div class="list-review">
<h3>Reviews</h3>

<div class="table-responsive">
<table class="table table-striped table-dark table-sm">
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Created</td>
      <td>
        <a href="{% url 'review_form' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> New Review</a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for review in review_list %}
    <tr>
      <td>{{ review.title }}</td>
      <td>{{ review.author }}</td>
      <td>{{ review.created_on }}</td>
      <td>
        <a href="{% url 'review_update' review.slug %}" class="btn text-secondary px-0">
          <i class="far fa-edit fa-lg"></i>
        </a>
        <a href="{% url 'review_delete' review.slug %}" class="btn text-secondary px-0">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% else %}
<div class="text-center form-review mt-4">
    <p>Access denied</p>
    <button class="btn btn-lg btn-outline-light btn-block" type="button" onclick="location.href={% url 'blog' %}">Go Back</button>
</div>
{% endif %}

{% endblock %}