{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_superuser %}
<div class="form-review mt-4">
    <h3>Review details</h3>
    <p>You are logged in as <strong>{{ user }}</strong></p>
    <form class="signup" id="signup_form" method="post" autocomplete="off" enctype='multipart/form-data' action="">
        {{ form | crispy }}
        {% csrf_token %}
        <button class="btn btn-success " type="submit">Submit</button>
        <button class="btn btn-danger" type="button" onclick="location.href={% url 'review_list' %}">Back to Reviews list</button>
    </form>
</div>
{% else %}
<div class="text-center form-review mt-4">
    <p>Access denied</p>
    <button class="btn btn-lg btn-outline-light btn-block" type="button" onclick="location.href={% url 'blog' %}">Go Back</button>
</div>
{% endif %}

{% endblock %}